*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  color: var(--color-black)
}
main{
  padding-top: 90px;
}
.container{
  width: 100%;
  min-width: 320px;
  max-width: 740px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-inline: 16px;
  box-sizing: border-box;
}
.section{
    padding-block: 3rem;
}
.title{
  color: var(--color-green-dark);
  font-size: var(--font-size-title);
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-family: 'Ruthless Sketch';
}
.title_black{
  color: var(--color-black);
  font-size: var(--font-size-title);
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-family: 'Ruthless Sketch';
}

.text-align-center{
    text-align: center;
}
.link{
  color: inherit;
  text-decoration: none;
}

@media (min-width: 768px) {
  html{
    font-size: 78.5%;
  }
  .container{
    max-width: 1440px;
    padding-inline: 110px;
  }
  .title{
    font-size: var(--font-size-title-desktop);
  }
  .section{
    padding-block: 4rem;
  }
}
