*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  color: var(--color-black)
}
.container{
  width: 100%;
  min-width: 320px;
  max-width: 740px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-inline: 16px;
  box-sizing: border-box;
}

.title{
  color: var(--color-green-dark);
  font-size: var(--font-size-title);
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-family: 'Ruthless Sketch';
}

.text-align-center{
    text-align: center;
}

