.btn{
    width: 100%;
    border: none;
    font-weight: 500;
    background-color: var(--color-green-light);
    padding: 1rem;
    border-radius: 1rem;
}
.btn-action{
    border-radius: var(--border-radius);
}
.btn_red{
    border-radius: var(--border-radius);
    color: var(--color-white);
    background-color: var(--color-red);
    width: 50%;
}