.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 3rem;

}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0rem;
  z-index: 10;
}

.burger__line {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 1rem;
  background-color: var(--color-black);
  transition: all 0.3s ease-in-out;
}

/* Стили для полноэкранного меню */
.full-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-black); 
    z-index: 9; 
    
    /* Центрируем ссылки */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 11rem;

    /* Скрываем по умолчанию */
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

/* Состояние, когда меню открыто */
.full-menu.is-active {
    opacity: 1;
    visibility: visible;
}

.full-menu__list {
    list-style: none;
    text-align: center;
    padding: 0;
}

.full-menu__list li {
    margin: 2rem 0;
}

.full-menu__link {
    font-size: 2rem;
    text-decoration: none;
    color: var(--color-white);
    transition: color 0.3s;
}
.full-menu__link:hover {
  color: var(--color-green-light)
}

/* Анимация самого бургера (превращение в крестик) */
.burger.is-active .burger__line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: var(--color-white)
}
.burger.is-active .burger__line:nth-child(2) {
    opacity: 0;
}
.burger.is-active .burger__line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: var(--color-white)

}
/* Чтобы контент за меню не прокручивался */
body.no-scroll {
    overflow: hidden;
}
.logo-white{
  width: 20rem;
}