.title-blog{
    font-family: 'Ruthless Sketch';
    font-size: 4.8rem;
    margin-bottom: 1.8rem;
}
.text-blog{
    margin-bottom: 1.8rem;
}
.image-blog{
    min-height: 34rem;
    object-fit: cover;
    border-radius: var(--border-radius);
}

@media (min-width: 1280px){
    .blog-container{
        display: flex;
        gap: 4rem
    }
    .image-blog{
        width: 50%;
    }
}
