:root{
    --color-red: #FF0000;
    --color-black: #000000;
    --color-green-light: #D7FFC5;
    --color-green-dark: #1F831C;
    --color-white: #ffffff;

    --font-size-title: 4.8rem;
    --font-size-text: 1.6rem;
    
}